# Supabase Environment Variables

NEXT_PUBLIC_SUPABASE_URL=https://msgnhrxpsdxexwljtotw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zZ25ocnhwc2R4ZXh3bGp0b3R3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0NDM0MTIsImV4cCI6MjEwNTAxOTQxMn0.3KitOsN5GewqyLUph5TfUwxFO-me7Ohk1p9wcM8xma4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zZ25ocnhwc2R4ZXh3bGp0b3R3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTQ0MzQxMiwiZXhwIjoyMTA1MDE5NDEyfQ.kvJM_gV4T9fkP3u1KZY7EHkZWydRCW3t4CbyeLOqBoo
