# Supabase Environment Variables

NEXT_PUBLIC_SUPABASE_URL=https://enqqqbwrnkxzraotirk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVucXFxcWJ3cm5reHpyYW90aXJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkwMjAxODgsImV4cCI6MjEwNDU5NjE4OH0.-h5lRKdn_ux3Bs95k-nPxmD8iLoKF7xBCo1hT2z3iEg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVucXFxcWJ3cm5reHpyYW90aXJrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTAyMDE4OCwiZXhwIjoyMTA0NTk2MTg4fQ.dqI2N9XDOEI7_AoLmuFuNQgiF_Q5s3_4S7t2PrSO_s4
