@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f1729;

  --card: #ffffff;
  --card-foreground: #0f1729;

  --popover: #ffffff;
  --popover-foreground: #0f1729;

  --primary: #072069;
  --primary-foreground: #ffffff;

  --secondary: #f3f4f7;
  --secondary-foreground: #0f1729;

  --muted: #f8fafc;
  --muted-foreground: #676f7e;

  --accent: #ebf0fa;
  --accent-foreground: #072069;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --border: #dadee7;
  --input: #dadee7;
  --ring: #0ea5e9;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 3rem));
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}